<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Store Management</title>

    <!-- Custom fonts for this template-->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/theme.min.css" />
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet" />
    <link href="dist/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <script>
      window.jQuery = window.$ = require("jquery");
    </script>
    <!-- Custom styles for this page -->
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/"
        >
          <div class="sidebar-brand-text mx-3">
            <img
              src="../img/BillWaleLogo.png"
              alt="Bill Dedo"
              style="width: 100%"
            />
          </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-th-large"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <i class="fas fa-shopping-basket"></i>
            <span>Product Management</span>
          </a>
          <div
            id="collapseOne"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/addproduct">Add Products</a>
              <a class="collapse-item" href="/tables">Product List</a>
            </div>
          </div>
        </li>
        <hr class="sidebar-divider" />
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <i class="fas fa-list-alt"></i>
            <span>Category Management</span>
          </a>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/addCategory">Add Category</a>
              <a class="collapse-item" href="/categoryTables">Category List</a>
            </div>
          </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" />
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="true"
            aria-controls="collapseThree"
          >
            <i class="fas fa-rupee-sign"></i>
            <span>Tax Management</span>
          </a>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/addTaxClass">Add Tax Class</a>
              <a class="collapse-item" href="/taxTables">Tax List</a>
            </div>
          </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" />
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="true"
            aria-controls="collapseFour"
          >
            <i class="fas fa-store"></i>
            <span>Store Management</span>
          </a>
          <div
            id="collapseFour"
            class="collapse"
            aria-labelledby="headingFour"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/addStore">Add Store Details</a>
              <a class="collapse-item" href="/setPrinterSize"
                >Set Printer Size</a
              >
            </div>
          </div>
        </li>
        <hr class="sidebar-divider" />
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseFive"
            aria-expanded="true"
            aria-controls="collapseFive"
          >
            <i class="fas fa-file-invoice"></i>
            <span>Invoices</span>
          </a>
          <div
            id="collapseFive"
            class="collapse"
            aria-labelledby="headingFive"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/invoiceTable">List Invoices</a>
            </div>
          </div>
        </li>
        <hr class="sidebar-divider" />
        <!-- <li class="nav-item active">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseSix"
            aria-expanded="true"
            aria-controls="collapseSix"
          >
            <i class="fas fa-shopping-cart"></i>
            <span>Supplier Management</span>
          </a>
          <div
            id="collapseSix"
            class="collapse"
            aria-labelledby="headingSix"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/addSupplier">Add Supplier</a>
              <a class="collapse-item" href="/supplierTables">List Supplier</a>
              <a class="collapse-item" href="/tables">Purchase Order</a>
            </div>
          </div>
        </li>
        <hr class="sidebar-divider" /> -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseSeven"
            aria-expanded="true"
            aria-controls="collapseSeven"
          >
            <i class="fas fa-user-friends"></i>
            <span>Customer Management</span>
          </a>
          <div
            id="collapseSeven"
            class="collapse"
            aria-labelledby="headingFive"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/customerTable">List Customers</a>
            </div>
          </div>
        </li>
        <hr class="sidebar-divider" />
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseEight"
            aria-expanded="true"
            aria-controls="collapseEight"
          >
            <i class="fas fa-dolly-flatbed"></i>
            <span>Inventory Management</span>
          </a>
          <div
            id="collapseEight"
            class="collapse"
            aria-labelledby="headingEight"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/productStockTable"
                >Product Stock List</a
              >
            </div>
          </div>
        </li>
        <hr class="sidebar-divider" />
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Products</h1>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <div class="row">
                  <div class="col-10">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Product Information
                    </h6>
                  </div>
                  <div class="col-2">
                    <button
                      type="button"
                      class="btn btn-sm btn-success"
                      onclick="productCsv()"
                    >
                      <i class="fas fa-download"></i> Export to Excel
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Supplier ID</th>
                        <th>Supplier Name</th>
                        <th>Supplier Mobile</th>
                        <th>Supplier Email</th>
                        <th>Status</th>
                        <th style="width: 85px">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% suppliers.forEach(function (supplier){%>
                      <tr>
                        <td><%= supplier._id %></td>
                        <td><%= supplier.supplierName %></td>
                        <td><%= supplier.supplierMob %></td>
                        <td><%= supplier.supplierEmail %></td>
                        <td><span class="badge bg-success">Active</span></td>
                        <td
                          style="
                            width: 80px;
                            text-align: center;
                            vertical-align: middle;
                          "
                        >
                          <button
                            title="View"
                            type="button"
                            class="btn btn-primary btn-circle btn-sm"
                          >
                            <i class="far fa-eye"></i>
                          </button>
                          <a
                            href="/editSupplier/<%= supplier._id %>"
                            class="btn btn-success btn-circle btn-sm"
                          >
                            <i class="fas fa-edit"></i>
                          </a>
                          <button
                            title="Delete"
                            type="button"
                            onclick="removeSupplier('<%= supplier._id %>')"
                            class="btn btn-danger btn-circle btn-sm"
                          >
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <%})%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <script type="text/javascript">
      var remote = require("electron").remote;
      document.addEventListener("keydown", function (e) {
        if (e.which === 123) {
          remote.getCurrentWindow().webContents.openDevTools();
        } else if (e.which === 116) {
          location.reload();
        }
      });
    </script>
    <script>
      function removeSupplier(supplierId) {
        $.ajax({
          url: "/removeSupplier",
          method: "post",
          dataType: "json",
          data: { supplierId: supplierId },
          success: function (response) {
            const { dialog } = require("electron").remote;
            if (response.msg == "success") {
              dialog
                .showMessageBox({
                  buttons: ["Ok"],
                  title: "Success",
                  message: "Supplier deleted Successfully",
                  detail: "Your Supplier is deleted successfully",
                })
                .then((result) => {
                  if (result.response === 0) {
                    location.reload();
                  }
                });
            } else {
              dialog.showErrorBox({
                title: "Error",
                message: "Supplier Not deleted",
                detail: "Something Went Wrong!",
              });
            }
          },
          error: function (response) {
            //  alert('server error')
          },
        });
      }
    </script>
    <script>
      function productCsv() {
        $.ajax({
          url: "/supplierCsv",
          method: "post",
          dataType: "json",
          success: function (response) {
            const { dialog } = require("electron").remote;
            if (response.msg == "success") {
              dialog
                .showMessageBox({
                  buttons: ["Ok"],
                  title: "Success",
                  message: "Supplier Data Exported Successfully",
                  detail:
                    "Supplier Data Exported to suppliers.csv file successfully",
                })
                .then((result) => {
                  if (result.response === 0) {
                    location.reload();
                  }
                });
            } else {
              dialog.showErrorBox({
                title: "Error",
                message: "Supplier Data not exported",
                detail: "Something Went Wrong!",
              });
            }
          },
          error: function (response) {
            //  alert('server error')
          },
        });
      }
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
  </body>
</html>
